body {
  background-color: #181f26;
  font-family: montserrat;
}
h1 {
  color: white;
  font-family: flood std;
  font-size: 7rem;
  display: inline;
  margin-left: 10rem;
}
nav {
  margin-top: 3rem;
  border-bottom: 2px solid white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 5rem;
  font-weight: bold;
}
a:nth-child(2) {
  margin-left: 60%;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.projTitle {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #d0d0d0;
}
.heading h1 {
  font-size: 2em;
  float: left;
}
.tableHead {
  display: table;
  width: 100%;
  font-size: 0.75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}
.cart .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
  background: white;
  font-size: 1.5rem;
}
.cart .items.even {
  background: white;
  font-size: 1.5rem;
}
.cart .items .infoWrap {
  display: table;
  width: 100%;
}
.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
  font-size: 1.5rem;
  color: grey;
  margin-bottom: 0.5em;
}
.cart .items .cartSection h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #181f26;
}
.cart .items .cartSection p {
  display: inline-block;
  font-size: 0.85em;
  color: #777777;
}
.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}
.cart .items .cartSection p.stockStatus {
  color: #181f26;
  font-weight: bold;
  padding: 0.5em 0 0 1em;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.cart .items .cartSection p.stockStatus.out {
  color: #f69679;
}
.cart .items .cartSection .itemImg {
  width: 4em;
  float: left;
}
.cart .items .cartSection.qtyWrap,
.cart .items .cartSection.prodTotal {
  text-align: center;
}
.cart .items .cartSection.qtyWrap p,
.cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.5rem;
}
.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1rem;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}
.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}
a.remove {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  line-height: 0.85;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
a.remove:hover {
  background: #f30;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
  color: white;
}
.subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.subtotal .totalRow .label {
  font-size: 0.85em;
  text-transform: uppercase;
  color: white;
}
.subtotal .totalRow .value {
  letter-spacing: -0.025em;
  width: 35%;
}
